$background-white: #fafafa;
$lighter-grey: #ebf1f5;
$darker-grey: #E0E0E0;
$secondary-text: #082b2f;
$primary-text: #627f83;
$dark-blue: #01565b;
$normal-green: #5aba8a;
$light-green: #e2f297;
$off-blue: #edf6fb;